@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  min-width: 1440px;
}

button {
  cursor: pointer;
}

/* buttons*/
/* button 1 */
.button1 {
  background: #4d96a8;
  border-radius: 29px;
  height: 58px;
  width: 193px;
  color: #fafafa;
  border: 0px;
}

.button1 span {
  color: #90e4f9;
}

.button1:hover {
  background: #71C0D4;
}

/*button 2*/
.button2 {
  background: #855FB1;
  border-radius: 29px;
  height: 58px;
  width: 193px;
  color: #fafafa;
  border: 0px;
}

.button2 span {
  background-color: #D9B8FF;
}

/* buttons*/
@media only screen and (max-width: 375px) {
  body {
    position: relative;
    min-width: 375px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
  }

  .logo img {
    width: 118.72px;
    height: 28px;
  }

  .hero {
    padding: 22px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 418px;
    height: 153px;
  }

  .hero .left {
    flex: 1;
    margin: 16px;
  }

  .hero .right {
    flex: 1;
    margin: 16px;
  }

  .hero img {
    width: 100%;
  }

  article {
    padding: 20px 0;
  }

  article h1 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 44px;
    white-space: pre-line;
  }

  article h1 span {
    text-transform: lowercase;
  }

  article p {
    color: #87879D;
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
  }

  .meetings-images {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    margin: 32px 0;
  }

  .meetings-images img {
    width: 151px;
    height: 143px;
    border-radius: 12px;
    margin: 12px;
  }

  .logo {
    display: flex;
    flex-flow: column wrap;
  }

  button {
    margin: 8px 0;
  }

  .smarter-meetings {
    padding: 32px 0;
    margin: 32px;
  }

  .smarter-meetings p {
    color: #87879D;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }

  footer {
    background: url(/assets/mobile/image-footer.jpg);
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 428px;
    margin: 0;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  footer .overlay {
    position: absolute;
    background: rgba(77, 150, 168, 0.8);
    z-index: 1000;
    width: 100%;
    height: 100%;
  }

  footer button {
    z-index: 9999999;
    justify-content: center;
    padding: 16px 0;
    margin: 0;
  }

  footer button:hover {
    background-color: #D9B8FF;
  }
}
.number {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 56px;
  color: #87879D;
  padding: 32px 0;
}

.line-container {
  width: 100%;
  height: 84px;
  display: flex;
  position: relative;
  justify-content: center;
}

.line {
  width: 1px;
  height: 100%;
  background-color: #87879D;
}

.the-inside {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #87879D;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.the-inside h1 {
  text-align: center;
  position: absolute;
  color: #87879D;
  font-size: 16px;
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  color: #4D96A9;
}

.number-2 .the-inside {
  z-index: 999999999;
  background-color: white;
}

footer {
  background: url(/assets/mobile/image-footer.jpg);
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-size: cover;
}

footer h1 {
  color: white;
  z-index: 999999;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 64px 0 0 0;
}

footer .overlay {
  position: absolute;
  background: rgba(77, 150, 168, 0.8);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

footer p {
  z-index: 1000;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  line-height: 26px;
  color: white;
  margin: 2px 0 0 0;
  padding: 0;
  white-space: pre-line;
}

/*# sourceMappingURL=style.css.map */
